<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./styles/euro.css">
    <link rel="stylesheet" href="./styles/main.css">

    <title>JetCoin</title>
</head>
<body>

    <h5><a href="/">
        <img src="./pics/iconmonstr-arrow-left-circle-thin.svg" alt="home">
    </a></h5>
    <div id="page-euro">
        <h1>Jet Coin Converter</h1>
        <img src="./pics/vinieuro.jpg" alt="carinha do euro">

        <div class="content">
            
            <input type="number" placeholder="R$" id="real" >

            <input type="text" placeholder="€" id="euro">

        </div>
    </div>
    
    <script src="./scripts/convert.js"></script>
    
</body>
</html>