<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./styles/home.css">
    <link rel="stylesheet" href="./styles/main.css">

    <title>JetCoin</title>

</head> 
<body>
    <div id="page-home-links">

       <li><span class="selected-page">JetCoins Conversions<svg xmlns="http://www.w3.org/2000/svg" class="arrow" width="14" height="14" viewBox="0 0 24 24"><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"></path></svg></span>
            
            <div id="dropdown-content" class=" ready">
                <ul class="menu">
                    <li class="header"><span strong>Destaques</span></li>
                    <li><a href="euro">Euro</a></li>
                    <li><a href="libra">Libra</a></li>
                    <li class="spacer"><span></span></li>
                </ul>
            </div>
        </li>
    </div>

    <div id="page-home">
        <h1>Jet Coin Converter</h1>
        <img src="./pics/vinidollar.jpg" alt="carinha do dollar"> 

        <div class="content">
            
            <input type="number" placeholder="R$" id="real" >

            <input type="text" placeholder="$" id="dollar">

        </div>
    </div>
    
    <script src="./scripts/convert.js"></script> 
     
</body>
</html>