#page-euro{
    display: flex;
    flex: 1;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

   margin-top: 198px;

}

#page-euro .content{
    margin-top: 54px;

    display: flex;
    flex: 1;
    justify-content: space-between;
}

#page-euro input{
    margin: 10px;
    padding-left: 5px 5px;
    box-sizing: border-box;
    border: none;
    border-style: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
  }

#page-euro input placeholder{
    margin-left: 10px;
}

#real{
    border: 0;
    border-radius: 8px;
    background-color: lightgray;

    height: 30px;
    width: 180px;
}

#euro{
    border: 0;
    border-radius: 8px;
    background-color: lightgray;

    height: 30px;
    width: 180px;
}

img{
    border: 0;
    margin-top: 24px;
    width: 20%;
    height: 25%;

    display: flex;
    flex: 1;
    align-items: center;
}

h1{
    color: var(--tittle-color);
    align-items: center;
}
