#page-euro{
    display: flex;
    flex: 1;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

   margin-top: 89px;

}

#page-euro .content{
    margin-top: 54px;

    display: flex;
    flex: 1;
    justify-content: space-between;
}

#page-euro input{
    margin: 10px;
    padding-left: 5px 5px;
    box-sizing: border-box;
    border: none;
    border-style: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
  }

#page-euro input placeholder{
    margin-left: 10px;
}

#real{
    border: 0;
    border-radius: 8px;
    background-color: lightgray;
    font-size: 30px;

    height: 60px;
    width: 200px;
}

#euro{
    border: 0;
    border-radius: 8px;
    background-color: lightgray;
    font-size: 30px;

    height: 60px;
    width: 200px;
}

#page-euro img{
    border: 0;
    margin-top: 24px;
    width: 30%;
    height: 45%;

    display: flex;
    flex: 1;
    align-items: center;
}

img{
    margin-top: 10px;
    margin-left: 15px;
    size: 10%;
}

h1{
    color: var(--tittle-color);
    align-items: center;
}

li{
    display: flex;
    flex-direction: column;
    flex: 1;

    margin-top: 5px;
    margin-left: 5px;
    margin-right: 80vmax;
    list-style-type: none;
}

a{
    margin-top: 25px;
    margin-left: 15px;

    font-size: 15px;
}

